/* Ordered lists should have dots. Ever. */
ul {
    list-style-type: none;
    width: 95%;
    text-align: center;
    margin: auto;
}

/* Body styling */
body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

h2 {
    color: #260126;
}

/* Link Styles */
a, a:link, a:active {
    text-decoration: none;
}


/* Media Query Stuff */
@media only screen and (min-width: 450px) {

    .projects li img {
        width: 90%;
        height: auto;
        padding: 5px;
    }

    .projects li {
        display: block;
    }

}

/* Goal is to have this display two columns */
@media only screen and (min-width: 640px) {

    .projects li img {
        width: 90%;
        height: auto;
        padding: 5px;
    }

    .projects li {
        display: inline-block;
    }
}

/* Goal is to have this display two+ columns */
@media only screen and (min-width: 1024px) {

    .projects li img {
        width: 90%;
        height: auto;
        padding: 5px;
    }

    .projects li {
        display: inline-block;
        width: 60%;
    }

}