/* making a change so I can get a pull request to work */
/* Ordered lists should have dots. Ever. */
ul {
    list-style-type: none;
}

/* Body styling */
body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

h1 {
    font-size: 1.5em;
}

h2 {
    color: #260126;
    font-size: 1.2em;
}

p {
    font-size: .9em;
}

/* Link Styles */
a, a:link, a:active {
    text-decoration: none;
}


/* Media Query Stuff */
@media only screen and (min-width: 450px) {

    .header ul li {
        display: inline-block;
        padding: 10px;
        text-align: center;
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        color: #260126;
        font-size: 1.3em;
    }
}

/* Goal is to have this display two columns */
@media only screen and (min-width: 640px) {

    .header ul li {
        display: inline-block;
        padding: 10px 25px 10px 25px;
        text-align: center;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        color: #260126;
        font-size: 1.5em;
    }

    .projects {
        width: 100%;
        text-align: center;
    }

    .projects div {
        width: 80%;
        margin: 0 auto;
        display: inline-block;
    }

}

/* Goal is to have this display two+ columns */
@media only screen and (min-width: 900px) {

    .header ul li {
        display: inline-block;
        padding: 10px 25px 10px 25px;
        text-align: center;
    }

    .header img {
        width: 200px;
        height: auto;
        border-radius: 5px;
    }

    h1 {
        font-size: 1.9em;
    }

    h2 {
        color: #260126;
        font-size: 1.5em;
    }

    .projects {
        width: 100%;
        text-align: center;
    }

    .projects div {
        width: 40%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: top;
    }

}